/* h1 {
  border: 3px solid pink;
}

h2 {
  border: 3px solid green;
}

ul {
  border: 3px solid orange;
}

li {
  border: 3px solid purple;
}

p {
  border: 3px solid greenyellow
}

#home-link {
  border: 3px solid blue;
} */

